<template>
  <div id="app">
    <GChart
      type="PieChart"
      :data="chartData"
      :options="chartOptions"
    />    
  </div>
</template>

<script>
import { GChart } from "vue-google-charts";
export default {
  name: "App",
  components: {
    GChart
  },
  data() {
    return {
      // Array will be automatically processed with visualization.arrayToDataTable function
      chartData: [
        ["Year", "Sales", "Expenses", "Profit"],
        ["Lunes", 1000, 400, 200],
        ["Martes", 1170, 460, 250],
        ["Mier", 660, 1120, 300],
        ["2017", 1030, 540, 350]
      ],
      chartOptions: {
        chart: {
          title: "Company Performance",
          subtitle: "Sales, Expenses, and Profit: 2014-2017"
        },      
         
        height: 400,
        colors: ['#1b9e77', '#d95f02', '#7570b3','#FFD700']
      }
    };
  }
};
</script>