<template>
  <a-modal
    visible
    title="Agregar un cliente"
    footer
    @cancel="closeThis"
  >
    <a-form :form="form" @submit="onSubmit">
      <a-form-item label="RUC / CI">
        <a-input
          v-decorator="validation.username"
          placeholder="Ingrese identificacion del cliente"
        />
      </a-form-item>
      <a-form-item label="Nombre">
        <a-input
          v-decorator="validation.name"
          placeholder="Ingrese el nombre"
        />
      </a-form-item>      
      <a-form-item label="E-mail">
        <a-input
          v-decorator="validation.email"
          placeholder="Ingrese el correo electrónico"
        />
      </a-form-item>
      <a-form-item label="Telefono">
        <a-input
          v-decorator="validation.phone"
          placeholder="Ingrese el numero telefonico"
        />
      </a-form-item>
      <div>
        <a-button
          type="primary"
          html-type="submit"
          :loading="isLoading"
        >
          Guardar
        </a-button>
        <a-button @click="closeThis">
          Cancelar
        </a-button>
      </div>
    </a-form>
  </a-modal>
</template>

<script>
export default {
  head: { title: 'Insertar cliente' },
  data () {
    return {
      isLoading: false,
      form: this.$form.createForm(this),
      validation: {
        name: [
          'name',
          {
            rules: [{
              required: true, message: 'Por favor ingrese el nombre del cliente'
            }],
          }
        ],
        username: [
          'username',
          {
            rules: [{
              required: true, message: 'Por favor ingrese el nombre de usuario',
            }]
          }
        ],
        ci: [
          'ci',
          {
            rules: [{
              required: true, message: 'Por favor ingrese la identificacion del cliente',
            }]
          }
        ],
         phone: [
          'phone',
          {
            rules: [{
              required: true, message: 'Por favor ingrese el numero del cliente',
            }]
          }
        ],
        email: [
          'email',
          {
            rules: [
              {
                pattern: /\S+@\S+\.\S+/,
                message: 'Email ingresado no es valido'
              },
              {
                required: false,
                message: 'Porfavor ingrese su correo electrónico'
              },
            ]
          }
        ],
      },
    }
  },
  methods: {
    closeThis () {
      this.$emit('closes')
    },
    async onSubmit (e) {
      e.preventDefault()
      let values
      try {
        values = await this.form.validateFields(this)
      } catch (err) {
        this.$message.error('Corrija los datos del formulario para continuar')
        return
      }
      try {
        this.isLoading = true
        await this.$axios.$post('/api/executives', values)
        this.closeThis()
        this.$message.success('Se agrego correctamente')
      } catch (err) {
        console.log(values)
        const message = err.response ? err.response.data.message : err.message
        this.$error({
          title: 'Ha ocurrido un error',
          content: message,
          okText: 'Aceptar'
        })
      } finally {
        this.isLoading = false
      }
    },
  }
}
</script>
