<template>
  <a-layout>
    <!-- background:#f2f4f7 -->
    <a-layout-content>
      <a-row
        style="height: 100vh"
        type="flex"
        justify="space-around"
        align="middle"
      >
        <a-col :md="7">
          <a-card style="margin-bottom: 5%">
            <h1 style="text-align: center;margin-bottom:15px">
              {{ title }}
            </h1>
            <a-form
              :form="form"
              layout="vertical"
              @submit="onSubmit"
            >
              <a-form-item>
                <h2>Identificacion</h2>
                <a-input
                  v-decorator="validation.username"
                  :placeholder="useCi ? 'Cédula de identidad' : 'Nombre de usuario'"
                  size="large"
                >
                  <a-icon slot="prefix" type="user" />
                </a-input>
              </a-form-item>
              <a-form-item>
                <h2>Contraseña</h2>
                <a-input
                  v-decorator="validation.password"
                  type="password"
                  placeholder="Ingrese su contraseña de acceso"
                  size="large"
                >
                  <a-icon slot="prefix" type="lock" />
                </a-input>
              </a-form-item>
              <a-col :md="6">
                <a-button
                  :loading="isLoading"
                  align="center"
                  block
                  size="large"
                  type="primary"
                  html-type="submit"
                >
                  Iniciar sesión
                </a-button>
              </a-col>
            </a-form>
          </a-card>
        </a-col>
      </a-row>
    </a-layout-content>
  </a-layout>
</template>

<script>
export default {
  name: 'Login',
  props: {
    type: { type: String, required: true },
  },
  data () {
    return {
      form: this.$form.createForm(this),
      isLoading: false,
      validation: {
        username: [
          this.type === 'client' ? 'ci' : 'username',
          {
            rules: [
              {
                required: true,
                message: this.type === 'client'
                  ? 'Ingrese la cédula de identidad'
                  : 'Ingrese el nombre de usuario',
              }
            ]
          }
        ],
        password: [
          'password',
          {
            rules: [
              { required: true, message: 'Ingrese la contraseña' }
            ]
          }
        ]
      }
    }
  },
  computed: {
    useCi () {
      return this.type === 'client'
    },
    title () {
      switch (this.type) {
        case 'administrator':
          return 'Administrador'
        case 'executive':
          return 'Ejecutivo de Mantenimiento'
        default:
          return 'Cliente'
      }
    },
    dispatch () {
      if (this.type === 'administrator') {
        return 'session/administratorLogin'
      } else if (this.type === 'executive') {
        return 'session/executiveLogin'
      } else {
        return 'session/clientLogin'
      }
    },
    mainroute () {
      if (this.type === 'client') {
        return '/ '
      } else {
        return '/' + this.type
      }
    },
  },
  methods: {
    onSubmit (e) {
      e.preventDefault()
      this.form.validateFields(async (error, values) => {
        if (error) { return }
        try {
          this.isLoading = true
          await this.$store.dispatch(this.dispatch, values)
          await this.$router.replace({ path: this.mainroute })
        } catch (err) {
          if (err && err.response && err.response.data) {
            this.$message.warning(err.response.data.message)
          } else {
            this.$message.error(err.message)
          }
        } finally {
          this.isLoading = false
        }
      })
    },
  }
}
</script>