<template>
<div>
    <a-row>
      <a-col :span="12">
        <h1>Clientes</h1>
      </a-col>
      <a-col :span="12">
        <div style="text-align:right; width:100%; margin-bottom: 20px;">
          <a-input
            v-model="filter"
            style="width: 50%"
            placeholder="Ingrese el patrón de búsqueda"
            enter-button
            @change="doFilter"
          />
          <a-button type="primary" @click="showModal = true">
              Insertar
          </a-button>         
        </div>
      </a-col>
    </a-row>
  <a-table :columns="columns" :dataSource="data" bordered>
    <a slot="name" slot-scope="text" href="javascript:;">{{text}}</a>
    <span slot="customTitle"><a-icon type="smile-o" /> Name</span>
    <span slot="tags" slot-scope="tags">
      <a-tag
        v-for="tag in tags"
        :color="tag==='loser' ? 'volcano' : (tag.length > 5 ? 'geekblue' : 'green')"
        :key="tag"
      >
        {{tag.toUpperCase()}}
      </a-tag>
    </span>
    <span slot="action" slot-scope="text, record">
      <a href="javascript:;">Invite 一 {{record.name}}</a>
      <a-divider type="vertical" />
      <a href="javascript:;">Delete</a>
      <a-divider type="vertical" />
      <a href="javascript:;" class="ant-dropdown-link"> More actions <a-icon type="down" /> </a>
    </span>
  </a-table>
  <insert-modal v-if="showModal" @closes="closeModal" />
</div>
</template>

<script>
import InsertModal from '~/components/insert-cliente'
 
  const columns = [
    {
      dataIndex: 'name',
      key: 'name',
      slots: { title: 'customTitle' },
      scopedSlots: { customRender: 'name' },
    },
    {
      title: 'Age',
      dataIndex: 'age',
      key: 'age',
    },
    {
      title: 'Address',
      dataIndex: 'address',
      key: 'address',
    },
    {
      title: 'Tags',
      key: 'tags',
      dataIndex: 'tags',
      scopedSlots: { customRender: 'tags' },
    },
    {
      title: 'Action',
      key: 'action',
      scopedSlots: { customRender: 'action' },
    },
  ];

  const data = [
    {
      key: '1',
      name: 'John Brown',
      age: 32,
      address: 'New York No. 1 Lake Park',
      tags: ['nice', 'developer'],
    },
    {
      key: '2',
      name: 'Jim Green',
      age: 42,
      address: 'London No. 1 Lake Park',
      tags: ['loser'],
    },
    {
      key: '3',
      name: 'Joe Black',
      age: 32,
      address: 'Sidney No. 1 Lake Park',
      tags: ['cool', 'teacher'],
    },
  ];

  export default {
    layout: 'executive',
    components: { InsertModal },
    data() {
      return {
        data,
        columns,
        showModal: false
      };
    },
    methods: {
      async closeModal () {
       this.showModal = false
      },
    }
  };
</script>