<template>
  <div>
    <chart-table/>
    <chart-pie/>
  </div>  
</template>

<script>
import chartTable from '~/components/chart-table'
import chartPie from '~/components/chart-pie'

export default {
  layout: 'executive',
  components: { chartTable, chartPie }
  }
</script>