<template>
  <div>
    <a-row>
      <a-col :span="12">
        <h1>Citas pendientes</h1>
      </a-col>
      <a-col :span="12">
        <div style="text-align:right; width:100%; margin-bottom: 20px;">
          <a-input
            v-model="filter"
            style="width: 50%"
            placeholder="Ingrese el patrón de búsqueda"
            enter-button
            @change="doFilter"
          />
          <nuxt-link to="/administrator/clientes-insert">
            <a-button type="primary">
              Insertar
            </a-button>
          </nuxt-link>
        </div>
      </a-col>
    </a-row>
    <a-table :columns="columns" :dataSource="data" @change="handleChange" />
  </div>
</template>
<script>
  const data = [
    {
      key: '1',
      name: 'John Brown',
      age: 32,
      address: 'New York No. 1 Lake Park',
    },
    {
      key: '2',
      name: 'Jim Green',
      age: 42,
      address: 'London No. 1 Lake Park',
    },
    {
      key: '3',
      name: 'Joe Black',
      age: 32,
      address: 'Sidney No. 1 Lake Park',
    },
    {
      key: '4',
      name: 'Jim Red',
      age: 32,
      address: 'London No. 2 Lake Park',
    },
  ];

  export default {
    layout: 'executive',
    data() {
      return {
        data,
        filteredInfo: null,
        sortedInfo: null,
      };
    },
    computed: {
      columns() {
        let { sortedInfo, filteredInfo } = this;
        sortedInfo = sortedInfo || {};
        filteredInfo = filteredInfo || {};
        const columns = [
          {
            title: 'Name',
            dataIndex: 'name',
            key: 'name',
            filters: [{ text: 'Joe', value: 'Joe' }, { text: 'Jim', value: 'Jim' }],
            filteredValue: filteredInfo.name || null,
            onFilter: (value, record) => record.name.includes(value),
            sorter: (a, b) => a.name.length - b.name.length,
            sortOrder: sortedInfo.columnKey === 'name' && sortedInfo.order,
          },
          {
            title: 'Age',
            dataIndex: 'age',
            key: 'age',
            sorter: (a, b) => a.age - b.age,
            sortOrder: sortedInfo.columnKey === 'age' && sortedInfo.order,
          },
          {
            title: 'Address',
            dataIndex: 'address',
            key: 'address',
            filters: [{ text: 'London', value: 'London' }, { text: 'New York', value: 'New York' }],
            filteredValue: filteredInfo.address || null,
            onFilter: (value, record) => record.address.includes(value),
            sorter: (a, b) => a.address.length - b.address.length,
            sortOrder: sortedInfo.columnKey === 'address' && sortedInfo.order,
          },
        ];
        return columns;
      },
    },
    methods: {
      handleChange(pagination, filters, sorter) {
        console.log('Various parameters', pagination, filters, sorter);
        this.filteredInfo = filters;
        this.sortedInfo = sorter;
      },
      clearFilters() {
        this.filteredInfo = null;
      },
      clearAll() {
        this.filteredInfo = null;
        this.sortedInfo = null;
      },
      setAgeSort() {
        this.sortedInfo = {
          order: 'descend',
          columnKey: 'age',
        };
      },
    },
  };
</script>
<style scoped>
  .table-operations {
    margin-bottom: 16px;
  }

  .table-operations > button {
    margin-right: 8px;
  }
</style>