<template>
<div>
  <a-row>
    <a-col :span="12">
      <h1>Registro general de citas</h1>
    </a-col>
    <a-col :span="12">
      <div style="text-align:right; width:100%; margin-bottom: 20px;">
        <a-input
          v-model="filter"
          style="width: 50%"
          placeholder="Ingrese el patrón de búsqueda"
          enter-button
          @change="doFilter"
        />
        <nuxt-link to="/administrator/clientes-insert">
          <a-button type="primary">
            Insertar
          </a-button>
        </nuxt-link>
      </div>
    </a-col>
  </a-row>
  <a-table
    :columns="columns"
    :dataSource="data"
    :pagination="{ pageSize: 50 }"
    :scroll="{ y: 240 }"
  />
</div>
</template>
<script>
  const columns = [
    {
      title: 'Name',
      dataIndex: 'name',
      width: 150,
    },
    {
      title: 'Age',
      dataIndex: 'age',
      width: 150,
    },
    {
      title: 'Address',
      dataIndex: 'address',
    },
  ];

  const data = [];
  for (let i = 0; i < 100; i++) {
    data.push({
      key: i,
      name: `Edward King ${i}`,
      age: 32,
      address: `London, Park Lane no. ${i}`,
    });
  }

  export default {
     layout: 'executive',
    data() {
      return {
        data,
        columns,
      };
    },
  };
</script>