<template>
<div>
<img src="~assets/nissan.jpg" id="bg" alt="">
<nuxt></nuxt>
</div>
</template>

<style>
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
</style>