<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <a-layout-sider collapsible v-model="collapsed">
      <div class="logo"></div>
      <div align="center">
        <img src="~/assets/logo.png">
      </div>  
      <div class="logo"></div> 
      <a-menu theme="dark" :defaultSelectedKeys="['1']" mode="inline">
         <a-menu-item key="index">
          <a-icon type="pie-chart" />
           <span> Inicio </span>
          <nuxt-link to="/executive"/>
        </a-menu-item>
        <a-menu-item key="2">
          <a-icon type="desktop" />
          <span> Clientes </span>
           <nuxt-link to="/executive/clientes"/>
        </a-menu-item>
        <a-sub-menu key="sub1">
          <span slot="title"><a-icon type="user" /><span>Citas</span></span>
          <a-menu-item key="3">
            Pendientes
            <nuxt-link to="/executive/pendientes"/>
          </a-menu-item>                      
          <a-menu-item key="4">Sin asistir</a-menu-item>
          <a-menu-item key="5">
            Registro general
            <nuxt-link to="/executive/registrogeneral"/>
          </a-menu-item>
        </a-sub-menu>
        <a-sub-menu key="sub2">
          <span slot="title"><a-icon type="team" /><span>Mantenimientos</span></span>
          <a-menu-item key="6">Pendientes</a-menu-item>
          <a-menu-item key="8">Realizados</a-menu-item>
        </a-sub-menu>
        <a-menu-item key="9">
          <a-icon type="logout" />
          <span>Cerrar sesión</span>
        </a-menu-item>
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-content :style="{ margin: '24px 16px', padding: '24px', background: '#fff', minHeight: '280px' }">
        <nuxt/>
      </a-layout-content>
      <a-layout-footer style="text-align: center">
        Ant Design ©2020 Created by Jair Semblantes - Luis Vaquilema
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>
<script>
import logo from '~/components/Logo'
  export default {
    components: { logo },
    data() {
      return {
        collapsed: false,
      };
    },
  };
</script>

<style>
  #components-layout-demo-side .logo {
    height: 32px;
    background: rgba(0, 21, 40);
    margin: 16px;
  }
</style>